.about-container {
  width: 98vw;
  color: #fff;
  background: #1e1e1e;
}

.about-container header,
.about-container footer {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-group-container {
  height: 500vh;
  position: relative;
}

.text-group-container > div {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 100vh;
}

.text-group {
  display: flex;
}

.text-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.text-container h3 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 1.5rem;
  max-width: 600px;
  line-height: 1.6;
}

.highlight {
  color: #f85c24;
  font-weight: bold;
}

.progress-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #f85c24;
  bottom: 50px;
  transform-origin: left;
}
